@model SubtitleCommunitySystem.Web.Areas.Administration.Models.MovieInputModel

@using (Html.BeginForm("Edit", "Movies", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Update Movie</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ReleaseDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReleaseDate, new { htmlAttributes = new { @class = "form-control jq-datetimepicker", type = "text", } })
                @Html.ValidationMessageFor(model => model.ReleaseDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Current subtitle</label>
            <div class="col-md-10">
                @Ajax.ActionLink("Download current subtitle source", "DownloadSource", "File", new { id = Model.InitialSourceId, area = "Private" }, new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.InsertAfter }, new { @class = "btn btn-success" })
            </div>
        </div>
        <div class="form-group">
            <label for="subtitlesource" class="control-label col-md-2">Upload subtitle source for translation</label>
            <div class="col-md-10">
                <input type="file" id="subtitlesource" name="subtitlesource" />
            </div>
        </div>

        <div class="img-wrapper-md">
            <label class="control-label col-md-2">Current poster</label>
            <img src='@Model.MainPosterUrl' id="coverUrl" alt="Poster" class="img-dims" />
        </div>
        <div class="form-group">
            <label for="poster" class="control-label col-md-2">Upload poster</label>
            <div class="col-md-10">
                <input type="file" id="poster" name="poster" />
            </div>
        </div>
        <div class="img-wrapper-banner">
            <label class="control-label col-md-2">Current banner</label>
            <img src='@Model.BannerUrl' id="coverUrl" alt="Banner" class="img-dims" />
        </div>
        <div class="form-group">
            <label for="banner" class="control-label col-md-2">Upload banner</label>
            <div class="col-md-10">
                <input type="file" id="banner" name="banner" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Check to add all new languages to subtitles", htmlAttributes: new { @class = "control-label col-md-2", @for = "addsubtitles" })
            <div class="col-md-10">
                @Html.CheckBox("addsubtitles", new { @class = "checkbox", id = "addsubtitles" })
            </div>
        </div>

        @{ Html.RenderPartial("_EditButtonsPartial"); }
    </div>
}

@section messages {
    @if (TempData["Success"] != null)
    {
        @Html.DisplayFor(c => TempData["Success"], "SuccessMessage")
    }
}

@section scripts
{
    @Scripts.Render("//code.jquery.com/ui/1.11.2/jquery-ui.js")
    @AppHelpers.DateTimePickerScript(".jq-datetimepicker")
}

@section css
{
    @Styles.Render("//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css")
}

