@using SubtitleCommunitySystem.Web.Areas.Administration.Models
@model IEnumerable<RequestDetailedModel>

@{
    ViewBag.Title = "Index";
}

<div class="row text-center">
    @Html.ActionLink("View Approved", "Approved", null, new { @class = "btn btn-success" })
    @Html.ActionLink("View Pending", "Index", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("View Denied", "Denied", null, new { @class = "btn btn-danger" })
</div>

<hr />

<div class="row">
    @*@foreach (var req in Model)
    {
        <div class="container">@Html.DisplayFor(m => req, "RequestDetailedModel", req)</div>
    }*@

    @(Html.Kendo().Grid<RequestDetailedModel>(Model)
    .Name("grid")
    .Columns(columns =>
        {
            columns.Bound(c => c.UserName);
            columns.Bound(c => c.Type);
            
            columns.Bound(c => c).Sortable(false).Filterable(false);
        })
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .Groupable()
        .Sortable(c => c.SortMode(GridSortMode.SingleColumn))
        .Filterable(c => c.Mode(GridFilterMode.Row))
    )
</div>